.dart_tool/
.packages
.pub/
build/
.idea/
.vscode/
.flutter-plugins
.flutter-plugins-dependencies
# iOS is still generated during setup and release builds.
/ios/
/devtools_options.yaml
android/.gradle/
ios/Pods/
ios/.symlinks/
*.iml
